body {
  background-color: #0c122c !important;
  color: hsl(243, 100%, 93%) !important;
}

.background {
  z-index: -1;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.box {
  margin: 16% 20px;
  background-color: hsl(228, 56%, 26%);
}

.left {
  border-radius: 10px 100px 10px 10px;
  padding-top: 40px;
  padding: 30px;
}

.right {
  border-radius: 10px;
  position: relative;
  margin-top: 350px;
  padding: 30px;
}

.logo {
  margin: 5px 30px 10px;
}

.icons {
  margin: 20px 10px 5px 5px;
  padding: 15px;
  background-color: #0c122c;
  border-radius: 10px;
}

.first-icon {
  margin-left: 25px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}